.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category-card {
    margin: 50px auto;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 8px 6px -6px black;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    transition: 0.4s;
    position: relative;
    flex-direction: column; 

}
.card_image {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
  }

.card_image img {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;  
}

.category-card .card_title {
    text-align: center;
    font-family: monospace;
    font-weight: light;
    margin-top: -20px;
    height: 40px;
    color:white;
    z-index: 1;
    position: relative; 
    text-transform: uppercase;

}
.padding {
    color: #00000000;
}
.cat-name{
    color: white;
    font-size: 50px;
    font-weight: lighter;

}

.item-count {
    color:rgb(195, 164, 164);
    font-size: 15px;
}

.category-card:hover {
    transform: scale(0.9, 0.9);
}

.search-bar {
    display: flex;
    /* align-items: center; */
    max-width: 600px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 5px;
    flex-grow: 1; /* The search bar will take up the remaining space */
}

.search-container {
    display: flex;
    align-items: center; 
}  

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
}

.title {
    text-align: center;
    font-weight: 100;
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

