
.item{
    border: 0.1rem outset rgb(111, 87, 91);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 100px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* border-radius: 10px; */
}

.card-price {
    font-weight: 100;
    padding-top: 5px;
}

.item-input {
    color: rgb(147, 63, 63);
    /* padding: 5px; */
    margin:5px 0;
    border:1;
    border-color: rgb(111, 87, 91);
    font-weight: 400;
    border-radius:10px;
    width:80%;
    text-align: center;
}

.close-item-details {
    background-color: #ffffff00;
    border:0;

}

button.delete-button {
    background-color: rgb(117, 20, 20);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    /* padding: 10px 15px; */
    text-align: auto;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
} 

button.delete-button {
    width: 60px;
    height: 35.8px;
} 
