.item{
    border: 0.1rem outset rgb(111, 87, 91);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 100px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card-price {
    font-weight: 100;
    padding-top: 5px;
}
