
@keyframes fadeIn {
  from {
    opacity: 0 
  }
  to {
    opacity: 1
  }
}

.fade-in-text {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.7s; 
  animation-fill-mode: forwards;
}

.transparent {
  opacity: 0;
}