body {
    /* background-color: #f9f9fa */
}

.pad {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.user-card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: linear-gradient(to right, #de949f, #c375a5);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.profile-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;

}